.v-calendar {
    --grey-100: #e4e9f0;
    --grey-200: #cfd7e3;
    --grey-300: #b5c0cd;
    --grey-800: #3e4e63;
    --grid-gap: 1px;
    --day-label-size: 20px;
}

ol, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.v-calendar-month {
    position: relative;
}

.v-calendar-month-header {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 10px;
}

.v-calendar-month-header-selected-month {
    font-size: 24px;
    font-weight: 600;
}

.v-calendar-month-header-selectors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}

.v-calendar-month-header-selectors > * {
    cursor: pointer;
}

.v-day-of-week {
    color: var(--grey-800);
    font-size: 18px;
    background-color: transparent;
    padding-bottom: 5px;
    padding-top: 10px;
}

.v-day-of-week, .v-days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.v-day-of-week > * {
    text-align: center;
    padding-left: 15px;
}

.v-days-grid {
    height: 100%;
    position: relative;
    grid-column-gap: var(--grid-gap);
    grid-row-gap: var(--grid-gap);
}

.v-calendar-day {
    position: relative;
    min-height: 100px;
    font-size: 16px;
    background-color: #fff;
    color: var(--grey-800);
    padding: 5px;
}

.v-calendar-day > span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    right: 25%;
    top: 25%;
    padding: 15%;
    width: 10%;
    height: 10%;
}

.v-calendar-day > div {
    font-size: 10px;
}

.v-calendar-day--not-current {
    background-color: transparent;
}

.v-calendar-day--not-current > span {
    display: none;
}

.v-calendar-day--today > span {
    font-weight: bold;
}

.v-calendar-day--has-event > span {
    color: #fff;
    background-color: var(--grey-800);
}
